@import "./variables";

.novedades{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 341px;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;

    .inclinacion{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(225deg, $azul-fondo-uno 25%, $azul-fondo-dos 75%);
        transform: skewY(-6deg);
        transform-origin: bottom right;
    }
    h2{
        @include titulo;
        color: $blanco;
        position: relative;
        text-align: center;
        margin-bottom: 36px;
        margin-top: 64px;
        padding: 0;
    }
    .episodios{
        @include boton;
        position: relative;
        height: 48px;
        margin: 0;
    }
    .episodios:hover{
        color: $blanco;
        background-image: linear-gradient(225deg, $boton-hover-uno 0%, $boton-hover-dos 100%);
    }
}

.copyright{
    padding-top: 24px;
    padding-bottom: 31px;
    display: flex;
    flex-direction: column;
    p{
        @include parrafo;
        text-align: center;
        padding-bottom: 16px;
    }
    .redes{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        a{
            i{
                color: $negro;
            } 

            i:hover{
                color: $boton-normal;
            }
        }
    }
}

@media screen and (min-width: 1024px){

    .novedades{
        align-items: center;
        padding-bottom: 151px;
        .inclinacion{
            transform: skewY(-3deg);
        }
        
        
        h2{
            padding-top: 213px;
            margin-top: 0;
        }
        .episodios{
            width: 345px;
            height: 56px;
        }
    }
    .copyright{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 100px;
        padding-top: 36px;
        padding-bottom: 31px;

        .redes{
            width: 25%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin-right: 100px;
        }
    }
}
