@import "./variables";

.copyright{
    padding-top: 24px;
    padding-bottom: 31px;
    display: flex;
    flex-direction: column;
    p{
        @include parrafo;
        text-align: center;
        padding-bottom: 16px;
    }
    .redes{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        a{
            i{
                color: $negro;
            } 

            i:hover{
                color: $boton-normal;
            }
        }
    }
}

@media screen and (min-width: 1024px){

    .copyright{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 100px;
        padding-top: 36px;
        padding-bottom: 31px;

        .redes{
            width: 25%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin-right: 100px;
        }
    }
}
