.invitados{
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;

    h2{
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 14px;
        @include titulo;
    }
    .estelares{

    display: flex;
    flex-direction: column;
    width: 100%;

        img{
            width: 100%;
        }
    }
}
@media screen and (min-width: 1024px){

    .invitados{
        
        h2{
            margin-left: 200px;
            margin-bottom: 36px;
        }
        .estelares{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 0;
            padding: 0;
            align-items: center;
                img{
                    width: 33.33%;
                }
            
        }
    }
}