@import "./variables";

.novedades{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 341px;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;

    .inclinacion{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(225deg, $azul-fondo-uno 25%, $azul-fondo-dos 75%);
        transform: skewY(-6deg);
        transform-origin: bottom right;
    }
    h2{
        @include titulo;
        color: $blanco;
        position: relative;
        text-align: center;
        margin-bottom: 36px;
        margin-top: 64px;
        padding: 0;
    }
    .episodios{
        @include boton;
        position: relative;
        height: 48px;
        margin: 0;
    }
    .episodios:hover{
        color: $blanco;
        background-image: linear-gradient(225deg, $boton-hover-uno 0%, $boton-hover-dos 100%);
    }
}
@media screen and (min-width: 565px){

    .novedades{
        align-items: center;
        h2{
            width: 288px;
            text-align: center;
        }
    }
}
@media screen and (min-width: 650px){

    .novedades{
        .episodios{
            width: 345px;
        }
    }
}
@media screen and (min-width: 750px){

    .novedades{
        h2{
            width: unset;
            margin-top: 140px;
        }
    }
}

@media screen and (min-width: 1024px){

    .novedades{
        align-items: center;
        height: 518px;

        .inclinacion{
            transform: skewY(-6deg);
        }
        
        
        h2{
            padding-top: 213px;
            margin-top: 0;
        }
        .episodios{
            width: 345px;
            height: 56px;
        }
    }
}