@import "./variables";

.reproductor{

    position: relative;
    padding-top: 64px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 100px;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .inclinacion{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(225deg, $azul-fondo-uno 25%, $azul-fondo-dos 75%);
        transform: skewY(-6deg);
        transform-origin: bottom right;
    }
    h2{
        position: relative;
        @include titulo;
        color: $blanco;
        font-weight: 300;
        padding-bottom: 21px;
    }
    
    .players{
        position: relative;

    iframe{
        margin-bottom: 11px;
        width: 100%;
    }
}
}
@media screen and (min-width: 1024px){

    .reproductor{
        padding-left: 100px;
        padding-right: 28px;
        padding-top: 186px;
        
        h2{
            padding-left: 100px;
        }
        .players{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        
        iframe{
            width: 50%;
            padding-right: 72px;
            padding-bottom: 72px;
            padding-top: 5px;
        }
        }
    }
}