@import "./variables";

.reproductor{

    padding-top: 64px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 100px;
    background-image: linear-gradient(225deg, $azul-fondo-uno 25%, $azul-fondo-dos 75%);
    transform: skewY(-3deg);
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2{

        @include titulo;
        color: $blanco;
        font-weight: 300;
        padding-bottom: 21px;
        transform: skewY(3deg);
    }
    
    .players{

        transform: skewY(3deg);

    iframe{
        margin-bottom: 11px;
        width: 100%;
    }
}
}
@media screen and (min-width: 1024px){

    .reproductor{
        padding-left: 100px;
        padding-right: 28px;
        padding-top: 162px;
        
        .players{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        
        iframe{
            width: 50%;
            padding-right: 72px;
            padding-bottom: 72px;
            padding-top: 5px;
        }
        }
    }
}