@import "./variables";

.telefono{

    height: 519px;
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: absolute;
    top: 1472px;

    .foto{
        padding-top: 48px;
        z-index: 3;
        img{
        z-index: 4;
        width: 100%;
        
        }
    }
    .texto{

        margin-top: 27px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 54px;

        h2{
            @include titulo;
            padding-bottom: 8px;
        }
        p{
            @include parrafo;
        }
    }
}

@media screen and (min-width: 321px){

.telefono{

    padding-left: 200px;
    display: flex;
    flex-direction: row;
    top: 1751px;

    .foto{

        padding-top: 64px;

        img{
            width: 457.6px;
            height: 660px;
            margin-bottom: 64px;
        }
    }
    .texto{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 0;
        
        p{
            width: 464px;
            padding-top: 24px;
            
        }
    }
}
}
@media screen and (min-width: 1457px){

    .telefono{
    top: 1133px;
    }
}