@import "./variables";

.telefono{

    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    position: relative;

    .foto{
        position: relative;
        margin-top: -78px;
        z-index: 3;
        img{
        width: 360px;
        
        }
    }
    .texto{
        position: relative;
        margin-top: 27px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 54px;

        h2{
            @include titulo;
            padding-bottom: 8px;
        }
        p{
            @include parrafo;
        }
    }
}

@media screen and (min-width: 1024px){

.telefono{

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .foto{
        padding-top: 64px;

        img{
            width: 457.6px;
            margin-bottom: 64px;
        }
    }
    .texto{
        display: flex;
        flex-direction: column;
        padding-bottom: 0;
        
        p{
            width: 464px;
            padding-top: 24px;
            
        }
    }
}
}
@media screen and (min-width: 320px){

}