@import "./variables";

.temas{
    display: flex;
    flex-direction: column;
    position: relative;

    h2{
    @include titulo;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 24px;
    }
    .icons{
        display: flex;
        flex-direction: column;

        .imgl{
            display: flex;
            flex-direction: column;
            img{
                margin-bottom: 13px;
            }

            label{
                @include titulo;
                font-size: 24px;
                text-align: center;
                padding: 0;
                margin-bottom: 36px;
                line-height: 32px;
                font-weight: bold;
            }
            label#seguridad{
                margin-bottom: 42px;
            }
        }
    }
}

@media screen and (min-width: 1024px){
    .temas{
        padding-top: 16px;

        h2{
            padding-left: 200px;
        }
        .icons{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            padding-left: 150px;
            padding-top: 45px;
        }
    }
}