@import "./variables";

.titulo{
    display: flex;
    flex-direction: column;
    margin-top: 39px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 24px;
    h1{
        @include titulo;
        margin-top: 0;
        margin-bottom: 0;
        .tachado{
            text-decoration: line-through;
        }
        .punto{
            color: $fondo-menu;
        }
    }
    .pmobile{
        @include parrafo;
        margin-top: 16px;
        margin-bottom: 36px;
    }
    .pdesktop{
        display: none;
    }
    .boton{
        @include boton;
    }
    .boton:hover{
        color: $blanco;
        background-image: linear-gradient(225deg, $boton-hover-uno 0%, $boton-hover-dos 100%);
    }
}

@media screen and (min-width: 1024px){

    .titulo{

        display: flex;
        flex-direction: column;

        h1{
            margin-left: 100px;
            font-size: 64px;
            line-height: 84px;

            .punto{
                color: $fondo-menu;
            }
        }

        .pmobile{

            display: none;
        }

        .pdesktop{
            display: flex;
            @include parrafo;
            width: 628px;
            margin-bottom: 56px;
            margin-left: 100px;
        }
        .boton{
            margin-left: 100px;
            width: 226px;
            height: 56px;
        }
        
    }
}