*{
box-sizing: border-box;
margin: 0;
padding: 0;
}

@import "./header";
@import "./titulo";
@import "./reproductor";
@import "./telefono";
@import "./invitados";
@import "./temas";
@import "./footer"