* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto 0;
  padding: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 10px 19px 0px 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo img {
  width: 24px;
  height: 24px;
}

header .menu {
  padding-top: 3px;
}

header .menu ul {
  padding-bottom: 0px;
  margin-top: 0;
  width: 100%;
  position: absolute;
  top: 44px;
  right: 0;
  overflow: hidden;
  list-style: none;
  background: #0000ec;
  height: 0px;
  -webkit-transition: height 0.5s ease;
  transition: height 0.5s ease;
}

header .menu ul li {
  padding-left: 16px;
  position: relative;
}

header .menu ul li a {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
  position: relative;
  text-decoration: none;
  color: #ffffff;
  padding-bottom: 24px;
  line-height: 28px;
  display: block;
}

header .menu ul li a:hover {
  color: #00f3bb;
  text-decoration: line-through;
}

header .menu ul li:first-child {
  padding-top: 16px;
}

header .menu input {
  display: block;
  width: 40px;
  height: 32px;
  opacity: 0;
  z-index: 2;
  position: absolute;
}

header .menu input[type="checkbox"]:checked ~ ul {
  height: 240px;
  -webkit-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
}

header .menu input[type="checkbox"]:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(2px, 1px);
          transform: rotate(45deg) translate(2px, 1px);
}

header .menu input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

header .menu input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(-1px);
          transform: rotate(-45deg) translate(-1px);
}

header .menu span {
  display: block;
  width: 18px;
  height: 2px;
  margin-bottom: 3px;
  position: relative;
  background: #060a24;
  z-index: 1;
  -webkit-transform-origin: 3px 0px;
          transform-origin: 3px 0px;
  -webkit-transition: opacity 0.55s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.55s ease, -webkit-transform 0.5s ease;
  transition: transform 0.5s ease, opacity 0.55s ease;
  transition: transform 0.5s ease, opacity 0.55s ease, -webkit-transform 0.5s ease;
}

@media screen and (min-width: 1024px) {
  header {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 23px;
  }
  header nav .menu ul {
    position: relative;
    top: 0;
    right: 0;
    overflow: hidden;
    background: unset;
    height: unset;
  }
  header nav .menu ul li {
    padding-top: 0;
    padding-left: 48px;
    display: inline-block;
  }
  header nav .menu ul li a {
    color: #060a24;
    padding: unset;
    line-height: unset;
  }
  header nav .menu ul li a:hover {
    color: #00f3bb;
  }
  header nav .menu input {
    display: none;
  }
  header nav .menu span {
    display: none;
  }
}

.titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 39px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 24px;
}

.titulo h1 {
  font-family: 'IBM Plex Sans',sans-serif;
  font-size: 36px;
  color: #060a24;
  letter-spacing: 0;
  line-height: 42px;
  font-weight: 500;
  padding-right: 50px;
  margin-top: 0;
  margin-bottom: 0;
}

.titulo h1 .tachado {
  text-decoration: line-through;
}

.titulo h1 .punto {
  color: #0000ec;
}

.titulo .pmobile {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
  color: #060a24;
  letter-spacing: 0;
  line-height: 22px;
  margin-top: 16px;
  margin-bottom: 36px;
}

.titulo .pdesktop {
  display: none;
}

.titulo .boton {
  border: 0;
  background-color: #00f3bb;
  height: 48px;
  width: 100%;
  padding: 0;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
  font-size: 16px;
  color: #060a24;
  letter-spacing: 0;
  text-align: center;
  line-height: 22px;
}

.titulo .boton:hover {
  color: #ffffff;
  background-image: linear-gradient(225deg, #0000fe 0%, #00f0b8 100%);
}

@media screen and (min-width: 650px) {
  .titulo .boton {
    width: 226px;
    height: 56px;
  }
}

@media screen and (min-width: 1024px) {
  .titulo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 200px;
  }
  .titulo h1 {
    font-size: 64px;
    line-height: 84px;
  }
  .titulo h1 .punto {
    color: #0000ec;
  }
  .titulo .pmobile {
    display: none;
  }
  .titulo .pdesktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    color: #060a24;
    letter-spacing: 0;
    line-height: 22px;
    width: 628px;
    margin-bottom: 56px;
  }
  .titulo .boton {
    width: 226px;
    height: 56px;
  }
}

.reproductor {
  position: relative;
  padding-top: 64px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 100px;
  z-index: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reproductor .inclinacion {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(225deg, #0000ff 25%, #0000a3 75%);
  -webkit-transform: skewY(-6deg);
          transform: skewY(-6deg);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}

.reproductor h2 {
  position: relative;
  font-family: 'IBM Plex Sans',sans-serif;
  font-size: 36px;
  color: #060a24;
  letter-spacing: 0;
  line-height: 42px;
  font-weight: 500;
  padding-right: 50px;
  color: #ffffff;
  font-weight: 300;
  padding-bottom: 21px;
}

.reproductor .players {
  position: relative;
}

.reproductor .players iframe {
  margin-bottom: 11px;
  width: 100%;
}

@media screen and (min-width: 700px) {
  .reproductor h2 {
    padding-left: 100px;
  }
}

@media screen and (min-width: 1024px) {
  .reproductor {
    padding-left: 100px;
    padding-right: 28px;
    padding-top: 186px;
  }
  .reproductor h2 {
    padding-left: 100px;
  }
  .reproductor .players {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .reproductor .players iframe {
    width: 50%;
    padding-right: 72px;
    padding-bottom: 72px;
    padding-top: 5px;
  }
}

.telefono {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  position: relative;
}

.telefono .foto {
  position: relative;
  margin-top: -78px;
  z-index: 3;
}

.telefono .foto img {
  width: 360px;
}

.telefono .texto {
  position: relative;
  margin-top: 27px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 54px;
}

.telefono .texto h2 {
  font-family: 'IBM Plex Sans',sans-serif;
  font-size: 36px;
  color: #060a24;
  letter-spacing: 0;
  line-height: 42px;
  font-weight: 500;
  padding-right: 50px;
  padding-bottom: 8px;
}

.telefono .texto p {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
  color: #060a24;
  letter-spacing: 0;
  line-height: 22px;
}

@media screen and (min-width: 1024px) {
  .telefono {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .telefono .foto {
    margin-top: -100px;
    padding-top: 64px;
  }
  .telefono .foto img {
    width: 457.6px;
    margin-bottom: 64px;
  }
  .telefono .texto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .telefono .texto h2 {
    padding-bottom: 0;
    font-size: 48px;
  }
  .telefono .texto p {
    width: 464px;
    padding-top: 24px;
  }
}

.invitados {
  margin-bottom: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.invitados h2 {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 14px;
  font-family: 'IBM Plex Sans',sans-serif;
  font-size: 36px;
  color: #060a24;
  letter-spacing: 0;
  line-height: 42px;
  font-weight: 500;
  padding-right: 50px;
}

.invitados .estelares {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.invitados .estelares img {
  width: 100%;
}

@media screen and (min-width: 650px) {
  .invitados .estelares {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .invitados .estelares img {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .invitados h2 {
    margin-left: 200px;
    margin-bottom: 36px;
  }
  .invitados .estelares {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .invitados .estelares img {
    width: 33.33%;
  }
}

.temas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.temas h2 {
  font-family: 'IBM Plex Sans',sans-serif;
  font-size: 36px;
  color: #060a24;
  letter-spacing: 0;
  line-height: 42px;
  font-weight: 500;
  padding-right: 50px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 24px;
}

.temas .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.temas .icons .imgl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.temas .icons .imgl img {
  margin-bottom: 13px;
}

.temas .icons .imgl label {
  font-family: 'IBM Plex Sans',sans-serif;
  font-size: 36px;
  color: #060a24;
  letter-spacing: 0;
  line-height: 42px;
  font-weight: 500;
  padding-right: 50px;
  font-size: 24px;
  text-align: center;
  padding: 0;
  margin-bottom: 36px;
  line-height: 32px;
  font-weight: bold;
}

.temas .icons .imgl label#seguridad {
  margin-bottom: 42px;
}

@media screen and (min-width: 650px) {
  .temas .icons {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .temas .icons .imgl {
    width: 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .temas .icons .imgl label {
    width: 288px;
    text-align: center;
  }
}

@media screen and (min-width: 1024px) {
  .temas {
    padding-top: 16px;
  }
  .temas h2 {
    padding-left: 200px;
  }
  .temas .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: unset;
        flex-wrap: unset;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding-left: 150px;
    padding-top: 45px;
  }
}

.novedades {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  height: 341px;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
}

.novedades .inclinacion {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(225deg, #0000ff 25%, #0000a3 75%);
  -webkit-transform: skewY(-6deg);
          transform: skewY(-6deg);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}

.novedades h2 {
  font-family: 'IBM Plex Sans',sans-serif;
  font-size: 36px;
  color: #060a24;
  letter-spacing: 0;
  line-height: 42px;
  font-weight: 500;
  padding-right: 50px;
  color: #ffffff;
  position: relative;
  text-align: center;
  margin-bottom: 36px;
  margin-top: 64px;
  padding: 0;
}

.novedades .episodios {
  border: 0;
  background-color: #00f3bb;
  height: 48px;
  width: 100%;
  padding: 0;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
  font-size: 16px;
  color: #060a24;
  letter-spacing: 0;
  text-align: center;
  line-height: 22px;
  position: relative;
  height: 48px;
  margin: 0;
}

.novedades .episodios:hover {
  color: #ffffff;
  background-image: linear-gradient(225deg, #0000fe 0%, #00f0b8 100%);
}

@media screen and (min-width: 565px) {
  .novedades {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .novedades h2 {
    width: 288px;
    text-align: center;
  }
}

@media screen and (min-width: 650px) {
  .novedades .episodios {
    width: 345px;
  }
}

@media screen and (min-width: 750px) {
  .novedades h2 {
    width: unset;
    margin-top: 140px;
  }
}

@media screen and (min-width: 1024px) {
  .novedades {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 518px;
  }
  .novedades .inclinacion {
    -webkit-transform: skewY(-6deg);
            transform: skewY(-6deg);
  }
  .novedades h2 {
    padding-top: 213px;
    margin-top: 0;
  }
  .novedades .episodios {
    width: 345px;
    height: 56px;
  }
}

.copyright {
  padding-top: 24px;
  padding-bottom: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.copyright p {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
  color: #060a24;
  letter-spacing: 0;
  line-height: 22px;
  text-align: center;
  padding-bottom: 16px;
}

.copyright .redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.copyright .redes a i {
  color: #060a24;
}

.copyright .redes a i:hover {
  color: #00f3bb;
}

@media screen and (min-width: 1024px) {
  .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 100px;
    padding-top: 36px;
    padding-bottom: 31px;
  }
  .copyright .redes {
    width: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-right: 100px;
  }
}
/*# sourceMappingURL=style.css.map */